h1 {
	font-family: "Arial Narrow";
	font-color: #b31217;
}
h1.gle{
	font-family: "Futura";
	font-color: #b31217;
}

#user-info{
	font-family: "Roboto";
}

#youtube-video{
	background-color: #000000;
	width: 100%;

}

#embedded-video{

	align-items: center;
}
