
body {
	font-family: Arial;
	background-color: #f1f1f1;
}

h1 {
	font-family: "Roboto";
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	border-radius: 10px;
  background: #b31217;
  padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 20px;
	min-width: 150px;
	max-width: 150px;
	margin-left: 15px;
}

#head {


}



#youtube-video{
	background-color: #000000;
	width: 100%;
}

#embedded-video{
	align-items: center;
}
